# =========================
# Logs (Airflow / dbt / genéricos)
# =========================
astro_runtime/logs/
astro_runtime/logs/**
gdv_general_dbt_dag/dbt/logs/
gdv_general_dbt_dag/dbt/logs/**
*.log
!astro_runtime/logs/.gitkeep
!gdv_general_dbt_dag/dbt/logs/.gitkeep

# =========================
# Credenciales / secretos
# =========================
# (evita subir tu service account)
astro_runtime/include/sa.json

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
.eggs/
*.egg-info/
*.egg
wheels/
pip-wheel-metadata/
*.ipynb_checkpoints

# =========================
# Entornos virtuales
# =========================
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# =========================
# IDE / Sistema operativo
# =========================
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# =========================
# Airflow (archivos locales)
# =========================
airflow.cfg
unittests.cfg
webserver_config.py

# =========================
# Docker
# =========================
.dockerignore
